@font-face {
	font-family:"Prompt";
	src:url("Prompt fonts/Prompt-Thin.ttf")format("truetype");
}
*
{
	font-family:"Prompt";
}
h1{
	font-size:xx-large;
	font-weight: bolder;
}

h3{
	font-weight: bold;
}
