*{
	font-family: 'Abel', sans-serif;
	background-color:#ffffff;
	padding:thick;
		
}/* CSS Document */
h1{
	font-size:xx-large;
	font-weight: bolder;
	text-align: center;
	text-transform: capitalize;	
}

h3{
	font-weight: bold;
}
img
{
    max-width: 100%;
    border-radius: 1rem;
}
header
{
	border-bottom: 5px solid gray;
}
