body{
	background-color:#B0C0CC;
	/* border:#D1B5B5 1px solid;*/
	text-align:center;
	color:#300E70;
	list-style-position:inside;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif		
	
}

header{
	border-bottom: 5px solid gray;
	font-size:200%;
}
.wanted{
	font-size:300%;
	
}
ul{
	text-align: center;

}
#wantedlist::selection{
	background:whitesmoke
}
footer{
	font-size:60%;
	background-color:#a2afb9

}
h1{
	border-bottom-color: 100px solid antiquewhite ;
}


